.Pagenation {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
}
.Pagenation button {
  width: 80px;
  background-color: rgb(29, 133, 133);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.Pagenation p {
  border: 1px solid rgb(29, 133, 133);
  width: 25px;
  text-align: center;
  border-radius: 5px;
}
.disabled {
  opacity: 0.3;
}
.selected {
  background-color: rgb(58, 194, 194);
}
